Repository DanPeled/Synapse, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, SynapseUI, SynapseLib, SynapseNet, SynapseInstaller, ProtoBuf, hardware metrics, camera factory, pipelines, runtime management, tests, workflows

.github/labeler.yml:

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["setup.py"]

SynapseUI:
  - changed-files:
      - any-glob-to-any-file: ["synapse_ui/**"]

SynapseLib:
  - changed-files:
      - any-glob-to-any-file: ["synapse_lib/**"]

SynapseNet:
  - changed-files:
      - any-glob-to-any-file: ["synapse_net/**"]

SynapseInstaller:
  - changed-files:
      - any-glob-to-any-file: ["synapse_installer/**"]

ProtoBuf:
  - changed-files:
      - any-glob-to-any-file: ["synapse_net/proto/**"]

"hardware metrics":
  - changed-files:
      - any-glob-to-any-file: ["synapse_core/src/synapse/hardware/metrics.py"]

"camera factory":
  - changed-files:
      - any-glob-to-any-file:
          ["synapse_core/src/synapse/core/camera_factory.py"]

"pipelines":
  - changed-files:
      - any-glob-to-any-file:
          [
            "synapse_core/src/synapse/core/pipeline.py",
            "synapse_core/src/synapse/core/settings_api.py",
          ]

"runtime management":
  - changed-files:
      - any-glob-to-any-file:
          [
            "synapse_core/src/synapse/core/runtime_handler.py",
            "synapse_core/src/synapse/core/synapse.py",
          ]

tests:
  - changed-files:
      - any-glob-to-any-file: ["**/tests/**"]

workflows:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

GITBOOK-32: GitHub actions docs
  docs/SUMMARY.md
  docs/getting-started/installing-software.md
  docs/usage/project-management/README.md
  docs/usage/project-management/setting-up-ci-for-a-synapse-project-using-github-actions.md
Labels: none

added message to record / stop recording, fixed record logic
  .gitignore
  synapse_core/src/synapse/core/runtime_handler.py
  synapse_net/proto/proto/v1/camera.proto
  synapse_net/proto/proto/v1/message.proto
  synapse_net/src/synapse_net/proto/v1/__init__.py
  synapse_ui/src/google/protobuf/wrappers.ts
  synapse_ui/src/proto/settings/v1/boolean.ts
  synapse_ui/src/proto/settings/v1/color.ts
  synapse_ui/src/proto/settings/v1/constraint_type.ts
  synapse_ui/src/proto/settings/v1/enumerated.ts
  synapse_ui/src/proto/settings/v1/list.ts
  synapse_ui/src/proto/settings/v1/number.ts
  synapse_ui/src/proto/settings/v1/settings.ts
  synapse_ui/src/proto/settings/v1/string.ts
  synapse_ui/src/proto/settings/v1/value.ts
  synapse_ui/src/proto/v1/camera.ts
  synapse_ui/src/proto/v1/device.ts
  synapse_ui/src/proto/v1/log.ts
  synapse_ui/src/proto/v1/message.ts
  synapse_ui/src/proto/v1/pipeline.ts
Labels: SynapseUI, SynapseNet, ProtoBuf, runtime management

handling for start and end recording outside of NT - added listener to be able to modify via nt - added logging
  synapse_core/src/synapse/core/camera_factory.py
  synapse_core/src/synapse/core/runtime_handler.py
Labels: camera factory, runtime management

callback to camera record status, ui record button
  synapse_core/src/synapse/core/runtime_handler.py
  synapse_core/src/synapse/core/synapse.py
  synapse_core/src/synapse/stypes.py
  synapse_ui/src/app/dashboard/page.tsx
  synapse_ui/src/app/dashboard/save_actions.tsx
  synapse_ui/src/services/backend/backendContext.tsx
  synapse_ui/src/services/backend/dataStractures.tsx
Labels: SynapseUI, runtime management

GITBOOK-33: added record key to nt api
  docs/additional-resources/networktables-api.md
Labels: none

removed non-required test, added hint to add tests
  synapse_core/tests/test_camera_handler.py
Labels: tests

Recording Camera to file (#109)
  .gitignore
  synapse_core/src/synapse/core/camera_factory.py
  synapse_core/src/synapse/core/runtime_handler.py
  synapse_core/src/synapse/core/synapse.py
  synapse_core/src/synapse/stypes.py
  synapse_core/tests/test_camera_handler.py
  synapse_net/proto/proto/v1/camera.proto
  synapse_net/proto/proto/v1/message.proto
  synapse_net/src/synapse_net/proto/v1/__init__.py
  synapse_ui/src/app/dashboard/page.tsx
  synapse_ui/src/app/dashboard/save_actions.tsx
  synapse_ui/src/google/protobuf/wrappers.ts
  synapse_ui/src/proto/settings/v1/boolean.ts
  synapse_ui/src/proto/settings/v1/color.ts
  synapse_ui/src/proto/settings/v1/constraint_type.ts
  synapse_ui/src/proto/settings/v1/enumerated.ts
  synapse_ui/src/proto/settings/v1/list.ts
  synapse_ui/src/proto/settings/v1/number.ts
  synapse_ui/src/proto/settings/v1/settings.ts
  synapse_ui/src/proto/settings/v1/string.ts
  synapse_ui/src/proto/settings/v1/value.ts
  synapse_ui/src/proto/v1/camera.ts
  synapse_ui/src/proto/v1/device.ts
  synapse_ui/src/proto/v1/log.ts
  synapse_ui/src/proto/v1/message.ts
  synapse_ui/src/proto/v1/pipeline.ts
  synapse_ui/src/services/backend/backendContext.tsx
  synapse_ui/src/services/backend/dataStractures.tsx
Labels: SynapseUI, SynapseNet, ProtoBuf, camera factory, runtime management, tests

added recording control to SynapseLib
  synapse_lib/src/main/java/synapse/SynapseCamera.java
  synapse_lib/vendordep/docs/constant-values.html
  synapse_lib/vendordep/docs/index-all.html
  synapse_lib/vendordep/docs/member-search-index.js
  synapse_lib/vendordep/docs/synapse/SynapseCamera.html
Labels: SynapseLib

Added recording control to SynapseLib (#110)
  synapse_lib/src/main/java/synapse/SynapseCamera.java
  synapse_lib/vendordep/docs/constant-values.html
  synapse_lib/vendordep/docs/index-all.html
  synapse_lib/vendordep/docs/member-search-index.js
  synapse_lib/vendordep/docs/synapse/SynapseCamera.html
Labels: SynapseLib

added calls to install npm and serve, fixed & updated tests
  synapse_installer/src/synapse_installer/sync.py
  synapse_installer/tests/test_sync.py
Labels: SynapseInstaller, tests

Added calls to install npm and serve, fixed & updated tests (#111)
  synapse_installer/src/synapse_installer/sync.py
  synapse_installer/tests/test_sync.py
Labels: SynapseInstaller, tests

reduced space taken by pipeline details config, nt connection info (#113)
  synapse_core/src/synapse/core/synapse.py
  synapse_net/proto/proto/v1/device.proto
  synapse_net/proto/proto/v1/message.proto
  synapse_net/src/synapse_net/proto/v1/__init__.py
  synapse_ui/src/app/dashboard/camera_and_pipeline_control.tsx
  synapse_ui/src/app/dashboard/results_view.tsx
  synapse_ui/src/proto/v1/device.ts
  synapse_ui/src/proto/v1/message.ts
  synapse_ui/src/services/backend/backendContext.tsx
Labels: SynapseUI, SynapseNet, ProtoBuf, runtime management

very basic results view - Just renderes in "key" : "value" now Still needs to support wpilib geometry classes and msgpack values
  synapse_core/src/synapse/core/pipeline.py
  synapse_core/src/synapse/core/results_api.py
  synapse_core/src/synapse/core/runtime_handler.py
  synapse_core/src/synapse/pipelines/apriltag_pipeline.py
  synapse_core/src/synapse/pipelines/color_pipeline.py
  synapse_core/src/synapse/pipelines/system/calibration_pipeline.py
  synapse_core/tests/test_pipeline_loader.py
  synapse_net/proto/proto/v1/message.proto
  synapse_net/proto/proto/v1/pipeline.proto
  synapse_net/src/synapse_net/proto/v1/__init__.py
  synapse_ui/src/app/dashboard/page.tsx
  synapse_ui/src/app/dashboard/results_view.tsx
  synapse_ui/src/proto/v1/message.ts
  synapse_ui/src/proto/v1/pipeline.ts
  synapse_ui/src/services/backend/backendContext.tsx
  synapse_ui/src/services/backend/dataStractures.tsx
  synapse_ui/src/widgets/sidebar.tsx
Labels: SynapseUI, SynapseNet, ProtoBuf, pipelines, runtime management, tests

added toasts, better style for results
  synapse_ui/package-lock.json
  synapse_ui/package.json
  synapse_ui/src/app/dashboard/results_view.tsx
  synapse_ui/src/app/layout.tsx
  synapse_ui/src/services/backend/backendContext.tsx
  synapse_ui/src/services/style.ts
Labels: SynapseUI

fixed tests, fixed visual issues
  synapse_core/src/synapse/core/pipeline.py
  synapse_core/src/synapse/core/runtime_handler.py
  synapse_core/tests/test_runtime_handler.py
  synapse_ui/src/app/dashboard/results_view.tsx
  synapse_ui/src/app/layout.tsx
  synapse_ui/src/services/backend/backendContext.tsx
  synapse_ui/src/widgets/sidebar.tsx
Labels: SynapseUI, pipelines, runtime management, tests

adds ability to use settings and result with decorators instead of extending class, can use `pipelineSettings` / `pipelineResult`
  synapse_core/src/synapse/core/pipeline.py
  synapse_core/src/synapse/pipelines/apriltag_pipeline.py
Labels: pipelines

added pypi downloads to readme
  README.md
Labels: none

basic msgpack serialization
  setup.py
  synapse_core/src/synapse/core/pipeline.py
  synapse_core/src/synapse/core/results_api.py
  synapse_core/src/synapse/core/runtime_handler.py
  synapse_core/src/synapse/pipelines/apriltag_pipeline.py
  synapse_net/src/synapse_net/nt_client.py
Labels: dependencies, SynapseNet, pipelines, runtime management

made msgpack rendeing in UI as a child-node tree
  synapse_core/src/synapse/core/results_api.py
  synapse_core/src/synapse/pipelines/apriltag_pipeline.py
  synapse_ui/package-lock.json
  synapse_ui/package.json
  synapse_ui/src/app/dashboard/results_view.tsx
  synapse_ui/src/widgets/msgpackTree.tsx
Labels: SynapseUI

results api tests, fixed to support pybind classes
  synapse_core/src/synapse/core/results_api.py
  synapse_core/src/synapse/pipelines/apriltag_pipeline.py
  synapse_core/tests/test_results_api.py
Labels: tests

Base Results API (#115)
  README.md
  setup.py
  synapse_core/src/synapse/core/pipeline.py
  synapse_core/src/synapse/core/results_api.py
  synapse_core/src/synapse/core/runtime_handler.py
  synapse_core/src/synapse/pipelines/apriltag_pipeline.py
  synapse_core/src/synapse/pipelines/color_pipeline.py
  synapse_core/src/synapse/pipelines/system/calibration_pipeline.py
  synapse_core/tests/test_pipeline_loader.py
  synapse_core/tests/test_results_api.py
  synapse_core/tests/test_runtime_handler.py
  synapse_net/proto/proto/v1/message.proto
  synapse_net/proto/proto/v1/pipeline.proto
  synapse_net/src/synapse_net/nt_client.py
  synapse_net/src/synapse_net/proto/v1/__init__.py
  synapse_ui/package-lock.json
  synapse_ui/package.json
  synapse_ui/src/app/dashboard/page.tsx
  synapse_ui/src/app/dashboard/results_view.tsx
  synapse_ui/src/app/layout.tsx
  synapse_ui/src/proto/v1/message.ts
  synapse_ui/src/proto/v1/pipeline.ts
  synapse_ui/src/services/backend/backendContext.tsx
  synapse_ui/src/services/backend/dataStractures.tsx
  synapse_ui/src/services/style.ts
  synapse_ui/src/widgets/msgpackTree.tsx
  synapse_ui/src/widgets/sidebar.tsx
Labels: dependencies, SynapseUI, SynapseNet, ProtoBuf, pipelines, runtime management, tests

GITBOOK-35: base results api docs
  docs/SUMMARY.md
  docs/usage/built-in-pipelines-1/README.md
  docs/usage/built-in-pipelines/README.md
  docs/usage/custom-pipelines/README.md
  docs/usage/custom-pipelines/accessing-global-settings.md
  docs/usage/custom-pipelines/sending-results.md
  docs/usage/custom-pipelines/settings-api.md
  docs/usage/project-management/README.md
Labels: none

added ability to send UI alerts via the runtime
  synapse_core/src/synapse/alert.py
  synapse_core/src/synapse/log.py
  synapse_net/proto/proto/v1/alert.proto
  synapse_net/proto/proto/v1/message.proto
  synapse_net/src/synapse_net/proto/v1/__init__.py
  synapse_ui/src/proto/v1/alert.ts
  synapse_ui/src/proto/v1/message.ts
  synapse_ui/src/services/backend/backendContext.tsx
Labels: SynapseUI, SynapseNet, ProtoBuf

tests
  synapse_core/tests/test_alert.py
Labels: tests

Added ability to send UI alerts via the runtime (#116)
  synapse_core/src/synapse/alert.py
  synapse_core/src/synapse/log.py
  synapse_core/tests/test_alert.py
  synapse_net/proto/proto/v1/alert.proto
  synapse_net/proto/proto/v1/message.proto
  synapse_net/src/synapse_net/proto/v1/__init__.py
  synapse_ui/src/proto/v1/alert.ts
  synapse_ui/src/proto/v1/message.ts
  synapse_ui/src/services/backend/backendContext.tsx
Labels: SynapseUI, SynapseNet, ProtoBuf, tests

results api support in Lib - adds `pipeline_type` entry in NT - Changed apritlagpipeline to not use the weird dict anymore, now just list of results - switched to using typeref instead of class object
  synapse_core/src/synapse/core/runtime_handler.py
  synapse_core/src/synapse/pipelines/apriltag_pipeline.py
  synapse_lib/.factorypath
  synapse_lib/build.gradle
  synapse_lib/src/main/java/synapse/ApriltagPoseEstimate.java
  synapse_lib/src/main/java/synapse/ApriltagResult.java
  synapse_lib/src/main/java/synapse/RegisterSynapseResult.java
  synapse_lib/src/main/java/synapse/SynapseCamera.java
  synapse_lib/src/main/java/synapse/SynapsePipeline.java
  synapse_lib/src/main/java/synapse/util/deserializers/GeometryDeserializer.java
  synapse_lib/src/main/java/synapse/util/deserializers/WPILibGeometryModule.java
  synapse_lib/src/test/java/synapse/SynapseCameraTest.java
  synapse_lib/vendordep/docs/allclasses-index.html
  synapse_lib/vendordep/docs/allpackages-index.html
  synapse_lib/vendordep/docs/constant-values.html
  synapse_lib/vendordep/docs/element-list
  synapse_lib/vendordep/docs/help-doc.html
  synapse_lib/vendordep/docs/index-all.html
  synapse_lib/vendordep/docs/index.html
  synapse_lib/vendordep/docs/member-search-index.js
  synapse_lib/vendordep/docs/overview-summary.html
  synapse_lib/vendordep/docs/overview-tree.html
  synapse_lib/vendordep/docs/package-search-index.js
  synapse_lib/vendordep/docs/search.html
  synapse_lib/vendordep/docs/serialized-form.html
  synapse_lib/vendordep/docs/synapse/ApriltagResult.ApriltagVerbosity.html
  synapse_lib/vendordep/docs/synapse/ApriltagResult.html
  synapse_lib/vendordep/docs/synapse/RegisterSynapseResult.html
  synapse_lib/vendordep/docs/synapse/SynapseCamera.CameraSettings.html
  synapse_lib/vendordep/docs/synapse/SynapseCamera.html
  synapse_lib/vendordep/docs/synapse/SynapsePipeline.html
  synapse_lib/vendordep/docs/synapse/package-summary.html
  synapse_lib/vendordep/docs/synapse/package-tree.html
  synapse_lib/vendordep/docs/synapse/util/deserializers/GeometryDeserializer.html
  synapse_lib/vendordep/docs/synapse/util/deserializers/WPILibGeometryModule.html
  synapse_lib/vendordep/docs/synapse/util/deserializers/package-summary.html
  synapse_lib/vendordep/docs/synapse/util/deserializers/package-tree.html
  synapse_lib/vendordep/docs/tag-search-index.js
  synapse_lib/vendordep/docs/type-search-index.js
Labels: SynapseLib, runtime management

updated tests, does not use geoemetry classes anymore
  .gitignore
  synapse_lib/src/main/java/synapse/ApriltagResult.java
  synapse_lib/src/main/java/synapse/SynapseCamera.java
  synapse_lib/src/main/java/synapse/SynapsePipeline.java
  synapse_lib/src/main/java/synapse/pipelines/apriltag/ApriltagPoseEstimate.java
  synapse_lib/src/main/java/synapse/pipelines/apriltag/ApriltagResult.java
  synapse_lib/src/test/java/synapse/SynapseCameraTest.java
Labels: SynapseLib

fixed geoemetry serlization
  synapse_core/src/synapse/core/results_api.py
Labels: none

updated tests
  synapse_core/tests/test_results_api.py
Labels: tests

remove all vendordep docs folder
  synapse_lib/vendordep/docs/allclasses-index.html
  synapse_lib/vendordep/docs/allpackages-index.html
  synapse_lib/vendordep/docs/constant-values.html
  synapse_lib/vendordep/docs/copy.svg
  synapse_lib/vendordep/docs/element-list
  synapse_lib/vendordep/docs/help-doc.html
  synapse_lib/vendordep/docs/index-all.html
  synapse_lib/vendordep/docs/index.html
  synapse_lib/vendordep/docs/legal/ASSEMBLY_EXCEPTION
  synapse_lib/vendordep/docs/legal/jquery.md
  synapse_lib/vendordep/docs/legal/jqueryUI.md
  synapse_lib/vendordep/docs/link.svg
  synapse_lib/vendordep/docs/member-search-index.js
  synapse_lib/vendordep/docs/module-search-index.js
  synapse_lib/vendordep/docs/overview-summary.html
  synapse_lib/vendordep/docs/overview-tree.html
  synapse_lib/vendordep/docs/package-search-index.js
  synapse_lib/vendordep/docs/resources/glass.png
  synapse_lib/vendordep/docs/resources/x.png
  synapse_lib/vendordep/docs/script-dir/jquery-3.7.1.min.js
  synapse_lib/vendordep/docs/script-dir/jquery-ui.min.css
  synapse_lib/vendordep/docs/script-dir/jquery-ui.min.js
  synapse_lib/vendordep/docs/script.js
  synapse_lib/vendordep/docs/search-page.js
  synapse_lib/vendordep/docs/search.html
  synapse_lib/vendordep/docs/search.js
  synapse_lib/vendordep/docs/serialized-form.html
  synapse_lib/vendordep/docs/stylesheet.css
  synapse_lib/vendordep/docs/synapse/ApriltagResult.html
  synapse_lib/vendordep/docs/synapse/SynapseCamera.CameraSettings.html
  synapse_lib/vendordep/docs/synapse/SynapseCamera.html
  synapse_lib/vendordep/docs/synapse/SynapsePipeline.html
  synapse_lib/vendordep/docs/synapse/package-summary.html
  synapse_lib/vendordep/docs/synapse/package-tree.html
  synapse_lib/vendordep/docs/synapse/util/deserializers/GeometryDeserializer.html
  synapse_lib/vendordep/docs/synapse/util/deserializers/WPILibGeometryModule.html
  synapse_lib/vendordep/docs/synapse/util/deserializers/package-summary.html
  synapse_lib/vendordep/docs/synapse/util/deserializers/package-tree.html
  synapse_lib/vendordep/docs/tag-search-index.js
  synapse_lib/vendordep/docs/type-search-index.js
Labels: SynapseLib

Remove all vendordep docs folder (#118)
  synapse_lib/vendordep/docs/allclasses-index.html
  synapse_lib/vendordep/docs/allpackages-index.html
  synapse_lib/vendordep/docs/constant-values.html
  synapse_lib/vendordep/docs/copy.svg
  synapse_lib/vendordep/docs/element-list
  synapse_lib/vendordep/docs/help-doc.html
  synapse_lib/vendordep/docs/index-all.html
  synapse_lib/vendordep/docs/index.html
  synapse_lib/vendordep/docs/legal/ASSEMBLY_EXCEPTION
  synapse_lib/vendordep/docs/legal/jquery.md
  synapse_lib/vendordep/docs/legal/jqueryUI.md
  synapse_lib/vendordep/docs/link.svg
  synapse_lib/vendordep/docs/member-search-index.js
  synapse_lib/vendordep/docs/module-search-index.js
  synapse_lib/vendordep/docs/overview-summary.html
  synapse_lib/vendordep/docs/overview-tree.html
  synapse_lib/vendordep/docs/package-search-index.js
  synapse_lib/vendordep/docs/resources/glass.png
  synapse_lib/vendordep/docs/resources/x.png
  synapse_lib/vendordep/docs/script-dir/jquery-3.7.1.min.js
  synapse_lib/vendordep/docs/script-dir/jquery-ui.min.css
  synapse_lib/vendordep/docs/script-dir/jquery-ui.min.js
  synapse_lib/vendordep/docs/script.js
  synapse_lib/vendordep/docs/search-page.js
  synapse_lib/vendordep/docs/search.html
  synapse_lib/vendordep/docs/search.js
  synapse_lib/vendordep/docs/serialized-form.html
  synapse_lib/vendordep/docs/stylesheet.css
  synapse_lib/vendordep/docs/synapse/ApriltagResult.html
  synapse_lib/vendordep/docs/synapse/SynapseCamera.CameraSettings.html
  synapse_lib/vendordep/docs/synapse/SynapseCamera.html
  synapse_lib/vendordep/docs/synapse/SynapsePipeline.html
  synapse_lib/vendordep/docs/synapse/package-summary.html
  synapse_lib/vendordep/docs/synapse/package-tree.html
  synapse_lib/vendordep/docs/synapse/util/deserializers/GeometryDeserializer.html
  synapse_lib/vendordep/docs/synapse/util/deserializers/WPILibGeometryModule.html
  synapse_lib/vendordep/docs/synapse/util/deserializers/package-summary.html
  synapse_lib/vendordep/docs/synapse/util/deserializers/package-tree.html
  synapse_lib/vendordep/docs/tag-search-index.js
  synapse_lib/vendordep/docs/type-search-index.js
Labels: SynapseLib

changed to using camera name for table instead of index
  synapse_core/src/synapse/core/camera_factory.py
  synapse_core/src/synapse/core/runtime_handler.py
  synapse_core/tests/test_camera_factory.py
Labels: camera factory, runtime management, tests

updated synapselib to use camera name instead of id
  synapse_lib/src/main/java/synapse/SynapseCamera.java
  synapse_lib/src/test/java/synapse/SynapseCameraTest.java
Labels: SynapseLib

added test to synapselib ci
  .github/workflows/synapse_lib.yml
Labels: workflows

fixed tests
  synapse_core/tests/test_runtime_handler.py
Labels: tests

Camera Table Using name instead of camera ID (#119)
  .github/workflows/synapse_lib.yml
  synapse_core/src/synapse/core/camera_factory.py
  synapse_core/src/synapse/core/runtime_handler.py
  synapse_core/tests/test_camera_factory.py
  synapse_core/tests/test_runtime_handler.py
  synapse_lib/src/main/java/synapse/SynapseCamera.java
  synapse_lib/src/test/java/synapse/SynapseCameraTest.java
Labels: SynapseLib, camera factory, runtime management, tests, workflows

GITBOOK-36: Added pipeline type to nt api
  docs/additional-resources/networktables-api.md
Labels: none

bump to 2025.0.0a2
  synapse_core/src/synapse/__version__.py
  synapse_lib/publish.gradle
  synapse_lib/vendordep/SynapseBridge.json
Labels: SynapseLib

bump to 2025.0.0a2 (#120)
  synapse_core/src/synapse/__version__.py
  synapse_lib/publish.gradle
  synapse_lib/vendordep/SynapseBridge.json
Labels: SynapseLib

added maven dir
  synapse_lib/vendordep/SynapseBridge.json
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.md5
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.sha512
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.md5
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.sha512
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.md5
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.sha512
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.md5
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.sha512
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.md5
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.sha512
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.md5
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.sha512
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.md5
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.sha512
Labels: SynapseLib
