Repository DanPeled/Synapse, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, SynapseUI, SynapseLib, SynapseNet, SynapseInstaller, ProtoBuf, hardware metrics, camera factory, pipelines, runtime management, tests, workflows

.github/labeler.yml:

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["setup.py"]

SynapseUI:
  - changed-files:
      - any-glob-to-any-file: ["synapse_ui/**"]

SynapseLib:
  - changed-files:
      - any-glob-to-any-file: ["synapse_lib/**"]

SynapseNet:
  - changed-files:
      - any-glob-to-any-file: ["synapse_net/**"]

SynapseInstaller:
  - changed-files:
      - any-glob-to-any-file: ["synapse_installer/**"]

ProtoBuf:
  - changed-files:
      - any-glob-to-any-file: ["synapse_net/proto/**"]

"hardware metrics":
  - changed-files:
      - any-glob-to-any-file: ["synapse_core/src/synapse/hardware/metrics.py"]

"camera factory":
  - changed-files:
      - any-glob-to-any-file:
          ["synapse_core/src/synapse/core/camera_factory.py"]

"pipelines":
  - changed-files:
      - any-glob-to-any-file:
          [
            "synapse_core/src/synapse/core/pipeline.py",
            "synapse_core/src/synapse/core/settings_api.py",
          ]

"runtime management":
  - changed-files:
      - any-glob-to-any-file:
          [
            "synapse_core/src/synapse/core/runtime_handler.py",
            "synapse_core/src/synapse/core/synapse.py",
          ]

tests:
  - changed-files:
      - any-glob-to-any-file: ["**/tests/**"]

workflows:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

maybe that will fix it?
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

yeepe?
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

damn it
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

fix release synapselib
  .github/workflows/synapse_lib_release.yml
Labels: workflows

return to run only on main
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

Fix Dev Release SynapseLib (#126)
  .github/workflows/synapse_lib_dev_release.yml
  .github/workflows/synapse_lib_release.yml
Labels: workflows

added ability for user side requirements
  synapse_installer/src/synapse_installer/create.py
  synapse_installer/src/synapse_installer/sync.py
  synapse_installer/src/synapse_installer/util.py
  synapse_installer/tests/test_requirements.py
  synapse_installer/tests/test_sync.py
Labels: SynapseInstaller, tests

fixed tool pat
  synapse_installer/tests/test_requirements.py
Labels: SynapseInstaller, tests

Added ability for user side requirements on Synapse project (#127)
  synapse_installer/src/synapse_installer/create.py
  synapse_installer/src/synapse_installer/sync.py
  synapse_installer/src/synapse_installer/util.py
  synapse_installer/tests/test_requirements.py
  synapse_installer/tests/test_sync.py
Labels: SynapseInstaller, tests

started abstraction of pipeline processing
  synapse_core/src/synapse/pipelines/apriltag/__init__.py
  synapse_core/src/synapse/pipelines/apriltag/apriltag_detector.py
  synapse_core/src/synapse/pipelines/apriltag/apriltag_pipeline.py
  synapse_core/src/synapse/pipelines/apriltag/apriltag_robotpy.py
Labels: none

seperation of pipeline processing logic and actual pipeline
  synapse_core/src/synapse/core/camera_factory.py
  synapse_core/src/synapse/core/pipeline.py
  synapse_core/src/synapse/core/results_api.py
  synapse_core/src/synapse/pipelines/apriltag/apriltag_detector.py
  synapse_core/src/synapse/pipelines/apriltag/apriltag_pipeline.py
  synapse_core/src/synapse/pipelines/apriltag/apriltag_robotpy.py
  synapse_core/src/synapse/pipelines/apriltag/field_loader.py
  synapse_core/src/synapse/util.py
Labels: camera factory, pipelines

seperated apriltag pose estimator to abc
  synapse_core/src/synapse/pipelines/apriltag/apriltag_detector.py
  synapse_core/src/synapse/pipelines/apriltag/apriltag_pipeline.py
  synapse_core/src/synapse/pipelines/apriltag/apriltag_robotpy.py
Labels: none
