Repository DanPeled/Synapse, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, SynapseUI, SynapseLib, SynapseNet, SynapseInstaller, ProtoBuf, hardware metrics, camera factory, pipelines, runtime management, tests, workflows

.github/labeler.yml:

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["setup.py"]

SynapseUI:
  - changed-files:
      - any-glob-to-any-file: ["synapse_ui/**"]

SynapseLib:
  - changed-files:
      - any-glob-to-any-file: ["synapse_lib/**"]

SynapseNet:
  - changed-files:
      - any-glob-to-any-file: ["synapse_net/**"]

SynapseInstaller:
  - changed-files:
      - any-glob-to-any-file: ["synapse_installer/**"]

ProtoBuf:
  - changed-files:
      - any-glob-to-any-file: ["synapse_net/proto/**"]

"hardware metrics":
  - changed-files:
      - any-glob-to-any-file: ["synapse_core/src/synapse/hardware/metrics.py"]

"camera factory":
  - changed-files:
      - any-glob-to-any-file:
          ["synapse_core/src/synapse/core/camera_factory.py"]

"pipelines":
  - changed-files:
      - any-glob-to-any-file:
          [
            "synapse_core/src/synapse/core/pipeline.py",
            "synapse_core/src/synapse/core/settings_api.py",
          ]

"runtime management":
  - changed-files:
      - any-glob-to-any-file:
          [
            "synapse_core/src/synapse/core/runtime_handler.py",
            "synapse_core/src/synapse/core/synapse.py",
          ]

tests:
  - changed-files:
      - any-glob-to-any-file: ["**/tests/**"]

workflows:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

added missing files yay
  synapse_lib/.gitignore
  synapse_lib/vendordep/SynapseBridge.json
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.md5
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.sha512
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.md5
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.sha512
Labels: SynapseLib

yeepers
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.md5
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.sha512
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.md5
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.sha512
Labels: SynapseLib

Add vendordep Maven artifacts
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.md5
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.sha1
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.sha256
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.sha512
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.md5
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.sha1
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.sha256
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.sha512
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.md5
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.sha1
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.sha256
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.sha512
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.md5
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.sha1
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.sha256
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.sha512
  maven/synapse/Synapse-java/maven-metadata.xml
  maven/synapse/Synapse-java/maven-metadata.xml.md5
  maven/synapse/Synapse-java/maven-metadata.xml.sha1
  maven/synapse/Synapse-java/maven-metadata.xml.sha256
  maven/synapse/Synapse-java/maven-metadata.xml.sha512
  maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom
  maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.md5
  maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.sha1
  maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.sha256
  maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.sha512
  maven/synapse/Synapse-vendordep/maven-metadata.xml
  maven/synapse/Synapse-vendordep/maven-metadata.xml.md5
  maven/synapse/Synapse-vendordep/maven-metadata.xml.sha1
  maven/synapse/Synapse-vendordep/maven-metadata.xml.sha256
  maven/synapse/Synapse-vendordep/maven-metadata.xml.sha512
Labels: none

fixed dependencies, added release script
  .github/workflows/synapse_lib_release.yml
  synapse_lib/SynapseBridge.json
  synapse_lib/publish.gradle
  synapse_lib/vendordep/SynapseBridge.json
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.md5
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.sha512
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.md5
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.sha512
Labels: SynapseLib, workflows

removed uncessary maven dir
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.md5
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.sha1
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.sha256
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.sha512
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.md5
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.sha1
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.sha256
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.sha512
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.md5
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.sha1
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.sha256
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.sha512
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.md5
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.sha1
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.sha256
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.sha512
  maven/synapse/Synapse-java/maven-metadata.xml
  maven/synapse/Synapse-java/maven-metadata.xml.md5
  maven/synapse/Synapse-java/maven-metadata.xml.sha1
  maven/synapse/Synapse-java/maven-metadata.xml.sha256
  maven/synapse/Synapse-java/maven-metadata.xml.sha512
  maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom
  maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.md5
  maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.sha1
  maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.sha256
  maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.sha512
  maven/synapse/Synapse-vendordep/maven-metadata.xml
  maven/synapse/Synapse-vendordep/maven-metadata.xml.md5
  maven/synapse/Synapse-vendordep/maven-metadata.xml.sha1
  maven/synapse/Synapse-vendordep/maven-metadata.xml.sha256
  maven/synapse/Synapse-vendordep/maven-metadata.xml.sha512
Labels: none

removed uncessary files
  synapse_lib/.gitignore
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.md5
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.sha512
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.md5
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.sha512
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.md5
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.sha512
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.md5
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.sha512
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.md5
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-java/maven-metadata.xml.sha512
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.md5
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.sha512
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.md5
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.sha1
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.sha256
  synapse_lib/vendordep/maven/synapse/Synapse-vendordep/maven-metadata.xml.sha512
Labels: SynapseLib

Add vendordep Maven artifacts
  SynapseBridge.json
Labels: none

fixed release ci, fixed synapse bridge json url
  .github/workflows/synapse_lib_release.yml
  synapse_lib/.gitignore
  synapse_lib/SynapseBridge.json
  synapse_lib/vendordep/SynapseBridge.json
Labels: SynapseLib, workflows

Add vendordep Maven artifacts
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.md5
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.sha1
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.sha256
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-javadoc.jar.sha512
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.md5
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.sha1
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.sha256
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2-sources.jar.sha512
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.md5
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.sha1
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.sha256
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.jar.sha512
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.md5
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.sha1
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.sha256
  maven/synapse/Synapse-java/2025.0.0a2/Synapse-java-2025.0.0a2.pom.sha512
  maven/synapse/Synapse-java/maven-metadata.xml
  maven/synapse/Synapse-java/maven-metadata.xml.md5
  maven/synapse/Synapse-java/maven-metadata.xml.sha1
  maven/synapse/Synapse-java/maven-metadata.xml.sha256
  maven/synapse/Synapse-java/maven-metadata.xml.sha512
  maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom
  maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.md5
  maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.sha1
  maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.sha256
  maven/synapse/Synapse-vendordep/2025.0.0a2/Synapse-vendordep-2025.0.0a2.pom.sha512
  maven/synapse/Synapse-vendordep/maven-metadata.xml
  maven/synapse/Synapse-vendordep/maven-metadata.xml.md5
  maven/synapse/Synapse-vendordep/maven-metadata.xml.sha1
  maven/synapse/Synapse-vendordep/maven-metadata.xml.sha256
  maven/synapse/Synapse-vendordep/maven-metadata.xml.sha512
Labels: none

Add vendordep Maven artifacts
  maven/synapse/Synapse-java/maven-metadata.xml
  maven/synapse/Synapse-java/maven-metadata.xml.md5
  maven/synapse/Synapse-java/maven-metadata.xml.sha1
  maven/synapse/Synapse-java/maven-metadata.xml.sha256
  maven/synapse/Synapse-java/maven-metadata.xml.sha512
  maven/synapse/Synapse-vendordep/maven-metadata.xml
  maven/synapse/Synapse-vendordep/maven-metadata.xml.md5
  maven/synapse/Synapse-vendordep/maven-metadata.xml.sha1
  maven/synapse/Synapse-vendordep/maven-metadata.xml.sha256
  maven/synapse/Synapse-vendordep/maven-metadata.xml.sha512
Labels: none

Add vendordep Maven artifacts
  SynapseBridge.json
Labels: none

release attachement instead of artifact
  .github/workflows/synapse_lib_release.yml
Labels: workflows

added build to the release process
  .github/workflows/synapse_lib_release.yml
Labels: workflows

Fix SynapseLib Release Vendordep (#121)
  .github/workflows/synapse_lib_release.yml
  synapse_lib/.gitignore
  synapse_lib/SynapseBridge.json
  synapse_lib/publish.gradle
  synapse_lib/vendordep/SynapseBridge.json
Labels: SynapseLib, workflows

Added getters for latency, option to choose coprocessor name
  synapse_lib/src/main/java/synapse/SynapseCamera.java
Labels: SynapseLib

added dev release
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

Added getters for latency, option to choose coprocessor name (#122)
  .github/workflows/synapse_lib_dev_release.yml
  synapse_lib/src/main/java/synapse/SynapseCamera.java
Labels: SynapseLib, workflows

correct file modificaton
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

added self to workflows
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

only release on main push
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

correct file modificaton for syanpselib dev release (#123)
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

pull instead of force push for dev release
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

pull instead of force push for dev release (#124)
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

attempted fix for dev release synapselib
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

fix dev please?
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

yeepers jeepers
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

again yeeprs?
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

merge fix?
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

again yeeprs?
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

attempted fix for dev release synapselib
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

fix dev please?
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

yeepers jeepers
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

pull instead of force push for dev release (#124)
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

merge fix?
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

fixed camera name in log, fixed latency getting
  synapse_core/src/synapse/core/runtime_handler.py
  synapse_lib/src/main/java/synapse/SynapseCamera.java
Labels: SynapseLib, runtime management

run dev release only on main push
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

fixed camera name in log, fixed latency getting
  synapse_core/src/synapse/core/runtime_handler.py
  synapse_lib/src/main/java/synapse/SynapseCamera.java
Labels: SynapseLib, runtime management

Fixed getting latency from synapselib, fixed camera name in record logging (#125)
  .github/workflows/synapse_lib_dev_release.yml
  synapse_core/src/synapse/core/runtime_handler.py
  synapse_lib/src/main/java/synapse/SynapseCamera.java
Labels: SynapseLib, runtime management, workflows

hopefully will fix dev release
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows

please dont crash
  .github/workflows/synapse_lib_dev_release.yml
Labels: workflows
